/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/helm/secrets.yml
/helm/secrets.yml
/mysql_deployment.yaml
/mysql_secret.yaml
/mysql_storage.yaml
/nginx_configMap.yaml
/ginx_deployment.yaml
/nginx_service.yaml
/nginx_service.yaml
/php_service.yaml
/php_deployment.yaml

